@model IEnumerable<BugTracker.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("Import")" method="POST" id="import">
    @Html.AntiForgeryToken()
</form>

<div>
    <a class="btn btn-success" href="@Url.Action("Create")">Create New</a>
    <a class="btn btn-primary" href="javascript:document.getElementById('import').submit()">Import Teams</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
